* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.ismail {
	position: relative;
	width: 100%;
	max-width: 1000px;
	min-height: 1000px;
	background: #fff;
	margin: 50px;
	display: grid;
	grid-template-columns: 1fr 4fr;
	box-shadow: 0 35px 55px rgba(0, 0, 0, 0.1);
}
.ismail .sidebar {
	top: 340px;
	left: 10;
	height: 1000px;
	width: 220px;
	background: #3498db;
/* font-family: 'Oooh Baby', cursive; */
	font-family: Arial, Helvetica, sans-serif;
	font-size: 25px;
	/*border-radius: 45px;*/
	overflow-y: scroll;
}
/* width */
::-webkit-scrollbar {
	width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
	background: #f1f1f1;
}
/* Handle */
::-webkit-scrollbar-thumb {
	background: #888;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #555;
}
.ismail .sidebar .logo_content {
	align-items: center;
	text-align: center;
}
.ismail .sidebar .logo_content .logo {
	color: #fff;
	display: flex;
	height: 50px;
	width: 100%;
	align-items: center;
}
.ismail .logo_content .logo i {
	font-size: 30px;
	margin-right: 5px;
}
.ismail .logo_content .logo .logo_name {
	font-size: 20px;
	font-weight: 400;
}
.ismail .sidebar #btn {
	position: absolute;
	color: #fff;
	left: 90%;
	font-size: 20px;
	height: 50px;
	width: 50px;
	text-align: center;
	line-height: 50px;
	transform: translateX(-50%);
}
.ismail .sidebar ul {
	margin-top: 20px;
}
.ismail .sidebar ul li {
	position: relative;
	height: 50px;
	width: 100%;
	/*margin: 0 5px;*/
	padding: 0 20px;
	align-items: center;
	text-align: center;
	line-height: 50px;
	/*left: 50px;*/
	list-style: none;
	border-bottom: 1px solid #ddd;
}
.ismail .sidebar ul li a {
	color: #fff;
	display: flex;
	align-items: center;
	text-decoration: none;
	font-size: 20px;
	list-style: none;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.ismail .sidebar ul li:hover {
	color: rgb(0, 123, 255);
	background: #fff;
	padding: 0 20px;
}
.ismail .sidebar ul li a:hover {
	color: black;
}
.ismail .sidebar ul li a i {
	height: 50px;
	min-width: 50px;
	border-radius: 12px;
	line-height: 50px;
}
.ii {
	margin: 10px;
}
